body {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

body::before {
    content: '';
    position: absolute;
    inset: 0;
    pointer-events: none;
    z-index: -1;
    opacity: 0.5;
}

.navbar {
  background-color: black;
  margin-bottom: 0px;
  height: 80px;
}

.navbar-nav {
  margin-top: 5px;
  margin-left: 300px;
}

.container {
  height: 80px;
}

.navbar-header {
  height: 80px;
  padding-left: 0px;
}

.navbar-collapse {
  display: flex;
  justify-content: flex-end;
  height: 80px;
}

.login-form {
  padding-left: 150px;
}

.register-form {
  padding-left: 150px;
}

.login-p {
   padding-left: 150px;
 }

.main {
  width: 100vw;
  height: 100vh;
  padding: 50px;
  background: url('../images/recipe-paper-background.jpg') center/cover no-repeat;
}


.rb-title {
    font-size: 45px;
    margin-top: 15px;
    font-style: italic;
    font-family: 'Brush Script MT', cursive;
}

.login-form {
    padding-top: 50px;
}

.register-form {
    padding-top: 50px;
}

.container-auth {
  padding-top: 0px;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 100vw;
}

.collapse {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left:600px !important;
}

.bodyindex {
  position: relative:
}

.bodyindex::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('../images/recipe-paper-background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: 0.5;
}
