
body {
    margin-top: 50px;
    padding: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    color: black;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('../images/recipe-paper-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    pointer-events: none;
    z-index: -1;
    opacity: 0.2;
}

.navbar {
  margin-bottom: 0px;
}

.navbar-brand {
    height: 70px;
}

.rb-title {
    font-size: 45px;
    margin-top: 15px;
    font-style: italic;
    font-family: 'Brush Script MT', cursive;
}

.login-form {
    padding-top: 50px;
}

.register-form {
    padding-top: 50px;
}

.container {
  display: flex;
  justify-content: left;

}

.collapse {
  margin-top: 10px;
  padding-left:600px !important;
}

