<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}">
</head>
<body>

<div th:replace="~{fragments :: header}"></div>

<div class="container body-content">
</div>

<div data-react-component="component-1-mount"></div>
<!--<form class="recipe-search" action="/search" method="get">-->
<!--    <input type="text" id="search" name="search" placeholder="Search for a recipe here">-->
<!--    <button type="submit">Search</button>-->
<!--</form>-->

<div class="search-results"></div>

<div data-react-component="component-2-mount"></div>
<script th:src="@{/dist/assets/index-696c4d61.js}"></script> <!-- Reference to your React app's JavaScript bundle -->


</body>
</html>