<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}"></head>

<body class="container-auth">

<header th:replace="~{fragments :: header}"></header>
<br>

<div class="main">
<form method="post" class="register-form">
    <div class="form-group">
        <label>Username
            <input class="form-control" th:field="${registerFormDTO.username}"  autocomplete="username"/>
        </label>
        <p class="error" th:errors="${registerFormDTO.username}"></p>
    </div>
    <div class="form-group">
        <label>Password
            <input class="form-control" th:field="${registerFormDTO.password}" type="password"  autocomplete="new-password"/>
        </label>
        <p class="error" th:errors="${registerFormDTO.password}"></p>
    </div>
    <div class="form-group">
        <label>Verify Password
            <input class="form-control" th:field="${registerFormDTO.verifyPassword}" type="password"  autocomplete="new-password"/>
        </label>
    </div>

    <input type="submit" class="btn btn-primary" value="Register" />
</form>
</div>

</body>
</html>